{% extends 'trimscape/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="menu" class="col-md-2">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action text-md-center {% if landing or sae_landing %}active{% endif %}"
		       {% if SAE_ENABLED %} href="{% url 'sae_home' %}" {% else %} href="{% url 'home' %}" {% endif %} ><i class="fa fa-tachometer fa-2x"></i><br/>Dashboard</a>
                    <li class="list-group-item list-group-item-action text-md-center {% if not map and not current and not timeseries and not landing  %}disabled{% endif %}"
			{% if SAE_ENABLED and sae %} onclick="$('#sae-outcome-modal').modal('show');" {% else %} onclick="$('#outcome-modal').modal('show');" {% endif %} ><i class="fa fa-search fa-2x"></i><br/>Pick Conditions
                    </li>
                    <li class="list-group-item list-group-item-action text-md-center {% if map %}active{% endif %} {% if not map and not current and not timeseries %}disabled{% endif %}"
			{% if SAE_ENABLED and sae %}
                          {% if map or current or timeseries %} onclick="forwardForm('{% url 'sae_map' %}');" {% endif %}><img src="
                          {% if map %}{% static 'trimscape/img/map-active.png' %}{% else %}{% static 'trimscape/img/map-inactive.png' %}{% endif %}" width="50px"><br/>Map
			{% else %}
                          {% if map or current or timeseries %} onclick="forwardForm('{% url 'map' %}');" {% endif %}><img src="
                          {% if map %}{% static 'trimscape/img/map-active.png' %}{% else %}{% static 'trimscape/img/map-inactive.png' %}{% endif %}" width="50px"><br/>Map
			{% endif %}
                    </li>
                    <li class="list-group-item list-group-item-action text-md-center {% if current %}active{% endif %} {% if not map and not current and not timeseries %}disabled{% endif %}"
			{% if SAE_ENABLED and sae %}
                        {% if map or current or timeseries %} onclick="forwardForm('{% url 'sae_current' %}');" {% endif %}><i class="fa fa-bar-chart fa-2x"></i><br/>Demographics&nbsp;&amp; Comorbidities
			{% else %}
                        {% if map or current or timeseries %} onclick="forwardForm('{% url 'current' %}');" {% endif %}><i class="fa fa-bar-chart fa-2x"></i><br/>Demographics&nbsp;&amp; Comorbidities
			{% endif %}
                    </li>
                    <li class="list-group-item list-group-item-action text-md-center  {% if timeseries %}active{% endif %} {% if not map and not current and not timeseries %}disabled{% endif %}"
			{% if SAE_ENABLED and sae %}
                        {% if map or current or timeseries %} onclick="forwardForm('{% url 'sae_timeseries' %}');" {% endif %}><i class="fa fa-line-chart fa-2x"></i><br/>Timeseries
			{% else %}
                        {% if map or current or timeseries %} onclick="forwardForm('{% url 'timeseries' %}');" {% endif %}><i class="fa fa-line-chart fa-2x"></i><br/>Timeseries
			{% endif %}
                    </li>
		    <a class="list-group-item list-group-item-action text-md-center {% if coc and not SAE_ENABLED and not sae %}active {% elif SAE_ENABLED and sae %}disabled{% endif %}"
                       href="{% url 'coc_home' %}"><i class="fa fa-heartbeat fa-2x"></i><br/>Continuity of Care</a>
                    <li class="list-group-item list-group-item-action text-md-center"
                        onclick="$('#download-modal').modal('show');"><i class="fa fa-file-text-o fa-2x"></i><br/>
                        Condition Definitions
                    </li>
                    <li id="about-link"
                        class="list-group-item list-group-item-action text-md-center {% if about %}active{% endif %}"
                        onclick="window.location.href='{% url 'about' %}';"><i
                            class="fa fa-info-circle fa-2x"></i><br/>About {{ ORG_SYSTEM }}
                    </li>
		    {% if not SAML_SSO_ENABLED %}
                      <li id="user-link"
                        class="list-group-item list-group-item-action text-md-center {% if "password_change" in request.resolver_match.url_name %}active{% endif %}"
                        onclick="window.location.href='{% url 'password_change' %}';"><i
                            class="fa fa-user fa-2x"></i><br/>Change Password
                      </li>
		    {% endif %}
                    <a class="list-group-item list-group-item-action text-md-center"
                       href="{% url 'logout' %}"><i class="fa fa-sign-out fa-2x"></i><br/>Logout</a>
                </div>
            </div>
            <div id="main-content" class="col-md-10 loadover">
                {% if outcome_form and not about and not landing and not sae %}
                    <div class="row">
                        <div class="col-md-12">
                            {% if outcome_selected.items|length == 0 and filter_selected.items|length == 0 %}
			    <button type="button" class="btn btn-sm btn-outline-primary bg-light mb-1 text-dark" onclick="$('#outcome-modal').modal('show');">
                                <span class="breadcrumb-header float-left">
                                    <small>Outcome(s) of Interest/Inclusion Criteria</small>
                                    <i class="fa fa-bars"></i>
                                </span>
				<br>
			        <ol class="breadcrumb border-light">
                                    <li class="breadcrumb-item">All Patients</li>
                                </ol>
			    </button>
                            {% else %}
			    <button type="button" class="btn btn-sm btn-outline-primary bg-light mb-1 text-dark" onclick="$('#outcome-modal').modal('show');">
                                <span class="breadcrumb-header float-left">
                                    <small>Outcome(s) of Interest</small>
                                    <i class="fa fa-bars"></i>
                                </span>
				<br>
		    		{% if SAE_ENABLED %}
				<ol class="breadcrumb border-light">
                                    <li class="breadcrumb-item">Observed Estimates</li>
				</ol> 
				{% endif %}
				<ol class="breadcrumb border-light">
                                    {% if outcome_selected.items|length == 0 %}
                                        <li class="breadcrumb-item">No Conditions Selected</li></ol>
                                    {% else %}
                                        {% for condition, vals in outcome_selected.items %}
                                            <li class="breadcrumb-item">{{ condition }}{% if not vals == "Yes" %}:
                                                {{ vals|safe }}{% endif %}</li>
                                        {% endfor %}
                                    {% endif %}
                                </ol>
			    </button>
                            <br/>
			    <button type="button" class="btn btn-sm btn-outline-primary bg-light mb-1 text-dark" onclick="$('#outcome-modal').modal('show');">
                                <span class="breadcrumb-header float-left">
                                    <small>Inclusion Criteria</small>
                                    <i class="fa fa-bars"></i>
                                </span>
				<br>
				<ol class="breadcrumb border-light">
                                    {% if filter_selected.items|length == 0 %}
                                        <li class="breadcrumb-item">No Additional Criteria Selected</li></ol>
                                    {% else %}
                                        {% for filter, vals in filter_selected.items %}
                                            <li class="breadcrumb-item">{{ filter }}: {{ vals|safe }}</li>
                                        {% endfor %}
                                    {% endif %}
                                </ol>
			    </button>
                            {% endif %}
                                <br/>
				<button type="button" class="btn btn-sm btn-outline-primary bg-light text-dark" 
					data-toggle="modal" data-target="#graphable-modal">
                                    <span class="breadcrumb-header float-left">
                                        <small>Graph Stratifiers and Parameters</small>
                                        <i class="fa fa-bars"></i>
                                    </span>
				    <br>
				    <ol class="breadcrumb border-light">
                                    {% if stratify != "none" and not map %}
                                        <li class="breadcrumb-item">
                                            <small>By:</small>
                                            {% include 'analysis/strat_label.html' %}
					    {% if timeseries %}
					    {% elif stratify2 and stratify2 != "none" %} &
                                                {% include 'analysis/strat_label2.html' %}
					    {% endif %}
                                        </li>
                                    {% endif %}
				    {% if not map %}
                                    <li class="breadcrumb-item">
                                        <small>In:</small>
                                        {{ data.0.location }}{% if data.0.location != data.1.location %}, {{ data.1.location }}{% endif %}
                                    </li>
				    {% endif %}
                                        <li id="timebound-breadcrumb" class="breadcrumb-item">
                                            <small>From:</small>
                                            <span></span>
                                            <small>To:</small>
                                            <span></span>
                                        </li>
                                </ol>
				</button>
                        </div>
                    </div>
                {% endif %}
                {% if outcome_form and not about and not landing and sae%}
    		    {% include 'analysis/sae-menu.html' %}

                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        <div id="error-alert" class="alert alert-danger collapse" role="alert">
                            Riskscape encountered an error. Try different selections.
                        </div>
                        {% block main %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loading-overlay" class="text-primary mx-auto">
        <div><i class="fa fa-spinner fa-pulse"></i> <em>Loading</em></div>
    </div>
    {% if SAE_ENABLED and sae %}
      {% include 'analysis/sae-modal.html' %}
    {% else %}
      {% include 'analysis/form.html' %}
    {% endif %}
    {% include 'trimscape/download.html' %}
{% endblock %}

{% block script %}
    <script type='text/javascript'>
	{% if sae and open_modal %}
	    $('#sae-outcome-modal').modal('show');
	{% elif open_modal %}
	    $('#outcome-modal').modal('show');
	{% endif %}
	$("#condition-select").on('click', function() {
	    $('#sae-outcome-modal').modal('show');
	});
	$("#modeled-btn").on('click', function() {
	    $('#outcome-modal').modal('hide');
            forwardForm($(this).attr('data-surl'));
	});
	$("#observed-btn").on('click', function() {
	    $('#sae-outcome-modal').modal('hide');
            forwardForm($(this).attr('data-surl'));
	});

        $('[data-furl]').on('click', function () {
            forwardForm($(this).attr('data-furl'));
        })

        function setBreadcrumbs() {
            var widths = [];
            $('ol.breadcrumb').each(function () {
                widths.push($(this).width());
            });
            if (widths.length > 1) {
                var max = Math.max.apply(null, widths);
                $('ol.breadcrumb').width(max);
            }
        }

        function activateLoadingOverlay() {
            var baseMeasure = $('.loadover');
            $("#loading-overlay").css('width', baseMeasure.width() + 15)
                .css('height', baseMeasure.height())
                .css('top', baseMeasure.offset().top).css('left', baseMeasure.offset().left)
                .show();
        }
        function deactivateLoadingOverlay() {
            $("#loading-overlay").fadeOut(1000);
            setBreadcrumbs();
        }
        function toggleCondition(id) {
            $(id).collapse('toggle');
        }
        $('.collapse :not(.in)').collapse('hide');
        $('#outcome-modal').on('shown.bs.modal', function () {
            $('[data-visible="yes"]').collapse('show');
            toggleSubmit();
        })
        $('.card-title .close').on('click', function () {
            var targ = $(this).attr('data-target');
            $('li[data-target="' + targ + '"]').removeClass('disabled');
        });
        $('.filter > div:not(.in) [type="checkbox"]').prop('checked', true).prop('disabled', true);
        $('.filter > div.in').each(function () {
            toggleTab($(this));
        });
        $('#filter-tabs a.bg-success:first').click();
        $('.condition').on('show.bs.collapse', function () {
            if ($('.condition:visible').length > 0) {
                $('<span class="logical-and small d-block text-md-center">And</span>').appendTo('#condition-picker');
            }
            $($(this)).detach().appendTo('#condition-picker');
            var conID = $(this).attr('id');
            $('option[data-target="#' + conID + '"]').prop('disabled', true);
        });
        $('.condition').on('hide.bs.collapse', function () {
            var conID = $(this).attr('id');
            $('option[data-target="#' + conID + '"]').prop('disabled', false);
        });
        $('.condition').on('hidden.bs.collapse', function () {
            $($(this)).find('input:hidden').prop('disabled', true);
            checkWarning($(this));
            if ($('.condition:visible').length == 1) {
                $('.logical-and').remove();
            }
            $(this).prev('span').remove();
        });
        $('.filter').on('show.bs.collapse', function () {
            $($(this)).find('input').prop('disabled', false);
            flipCaret($(this).find('div.collapse').attr('id'), 'down');
        });
        $('.filter').on('hide.bs.collapse', function () {
            $($(this)).find('input').prop('disabled', true);
            flipCaret($(this).find('div.collapse').attr('id'), 'right');
        });
        $('.filter').on('hidden.bs.collapse', function () {
            checkWarning($(this));
            $(this).removeClass('text-success text-danger');
            toggleTab($(this));
        });
        function flipCaret(target, direction) {
            var icon = $('[href="#' + target + '"] i');
            icon.removeClass('fa-caret-right fa-caret-down').addClass('fa-caret-' + direction);
        }
        $('.condition [type="checkbox"]').on('change', function () {
            checkWarning($(this));
        });
        $('.filter [type="checkbox"]').on('change', function () {
            checkWarning($(this));
            toggleTab($(this));
        });
        $('.condition').on('shown.bs.collapse', function () {
            checkWarning($(this));
            $($(this)).find('input').prop('disabled', false);
        });
        $('.filter').on('shown.bs.collapse', function () {
            checkWarning($(this));
            toggleTab($(this));
        });
        function checkWarning(element) {
            var container = element.closest('.condition, .filter');
            if (container.find('[type="checkbox"]:visible').length > 0) {
                if (container.find(':checked').length == 0) {
                    needValues(container, true);
                } else {
                    needValues(container, false);
                }
            } else {
                needValues(container, false);
            }
        }
        var needCount = 0;
        function needValues(container, need) {
            var remove = 'success';
            var add = 'danger';
            if (!need) {
                remove = 'danger';
                add = 'success';
            }
            container.addClass('text-' + add).removeClass('text-' + remove);
            container.find('.text-' + remove).removeClass('text-' + remove).addClass('text-' + add);
            container.find('.card-outline-' + remove).removeClass('card-outline-' + remove).addClass('card-outline-' + add);
            toggleSubmit();
        }

        function toggleTab(container) {
            var tab = container.parents('[role=tabpanel]').first();
            var currentClass = '';
            if (tab.find('.text-success').length > 0) {
                currentClass = 'text-success';
            }
            if (tab.find('.text-danger').length > 0) {
                currentClass = 'text-danger';
            }
            $('[href="#' + tab.attr('id') + '"]').removeClass('text-success').removeClass('text-danger').addClass(currentClass);
        }

        function toggleSubmit() {
            if ($('.tab-content .text-danger').length > 0
                || $('.condition .text-danger').length > 0
                || $('.condition:visible').length == 0) {
                $('#form-status input').attr('disabled', 'disabled').removeClass('btn-primary').addClass('btn-danger');
                $('#form-status span').removeClass('invisible');
            } else {
                $('#form-status input').removeAttr('disabled').removeClass('btn-danger').addClass('btn-primary');
                $('#form-status span').addClass('invisible');
            }
            if ($('.condition:visible').length == 0) {
                $('#outcome-adder span').html("Select Outcome").addClass('bg-danger');
            } else {
                $('#outcome-adder span').html("And...").removeClass('bg-danger').addClass('bg-primary');

            }
        }
        function forwardForm(url) {
            closeFullFilters();
            $('#select-form').attr('action', url).submit();
        }
        function submitDefaultForm() {
            $('#select-form .modal-body').css({'color': 'white', 'height': '1px', 'overflow': 'hidden'});
            $('#select-form .modal-body').html(`{{ outcome_form.as_p }}{{ filter_form.as_p }}`);
            forwardForm(window.location.href);
        }

        function closeFullFilters() {
            $('.filter>div.in').each(function () {
                if ($(this).find('input:not(:checked)').length == 0) {
                    $(this).collapse('hide');
                }
            });
        }
        function setDownload(){
            let dlForm = $("#download-form");
            dlForm.find("button").on("click", function(){
                console.log($(this).attr("download"));
                dlForm.attr("action", $(this).attr("download"));
                $(this).submit();

            })
        }
        setDownload();
        var colors = [
            '#5e4fa2',
            '#4799b3',
            '#8fd2a4',
            '#dcf19f',
            '#fdf5ad',
            '#fdc676',
            '#f47c4d',
            '#cd364b',
            '#4d66ac',
            '#58afad',
            '#a9dda2',
            '#ebf7a6',
            '#feeb9f',
            '#fcb167',
            '#ec6549',
            '#b91f48',
            '#437db3',
            '#6fc1a8',
            '#c2e69f',
            '#f6faae',
            '#fedd8d',
            '#fa9a59',
            '#e0504a',
            '#a30743',
            '#4594b4',
            '#89cfa5',
        ];
	var sae_colors = [
		'#E69F00',
		'#56B4E9',
		'#009E73',
		'#ccecff',
		'#F0E442',
		'#0072B2',
		'#D55E00',
		'#CC79A7',
		'#000000',
		'#d4c711',
		'#ffb780',
		'#00664b',
		'#a63f78',
		'#f5ee89',
		'#00cc96',
		'#e3b5ce',
		'#E69F00',
		'#56B4E9',
	];

        function getColor(idx){
            return colors[idx % colors.length]
        }

        function hexToRGB(hex,opacity){
            hex = hex.replace('#','');
            let r = parseInt(hex.substring(0,2), 16);
            let g = parseInt(hex.substring(2,4), 16);
            let b = parseInt(hex.substring(4,6), 16);

            return 'rgba('+r+','+g+','+b+','+opacity/100+')';
        }
    </script>
{% endblock %}
