{% load static %}
<div id="conditions" class="carousel slide clearfix" data-interval="false">
    {% if outcomes|length > 1 %}
    <div class="carousel-controls">
    <ol class="carousel-indicators">
        {% for outcome in outcomes %}
            <li data-target="#conditions" data-slide-to="{{ forloop.counter }}"
                class="{% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
    </ol>
    <a class="carousel-control-prev" href="#conditions" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#conditions" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
    </div>
    {% endif %}
    <div class="carousel-inner" role="listbox">
        {% for carousel_page in outcomes %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                {% for card_deck in carousel_page %}
                    <div class="card-deck-wrapper">
                        <div class="card-group">
                            {% for outcome in card_deck %}
                                {% if outcome == None %}
                                    <div class="card placeholder" style="width: 20rem;">
                                    </div>
                                {% else %}
                                    <div class="card {% cycle 'one' 'two' 'three' 'four' 'five' 'six' %}">
                                        <div class="card-body">
                                            <h6 class="card-title text-uppercase">{{ outcome.display_name|safe }}</h6>
                                            <div class="card-text">
                                                <div class="row">
                                                    {% include body %}
                                                </div>
                                            </div>
                                        </div>
                                        {% if footer %}
                                            <div class="card-footer smallest {% cycle 'one' 'two' 'three' 'four' 'five' 'six' %}">
                                                {% include footer %}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
