{% extends 'trimscape/base.html' %}


{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card {% if form.errors %}card-outline-danger text-danger{% endif %}">
                    <form method="post" action="{% url 'login' %}">{% csrf_token %}
			{% if not SAML_SSO_ENABLED %}
                        <div class="card-header {% if form.errors %}card-danger{% else %}card-primary{% endif %} card-inverse">
                            <h4 class="card-title">Login</h4>
                        </div>
                        <div class="card-block">
                            {% if form.errors %}
                                <h6 class="card-title">
                                    <small>Incorrect Login. Your username is case sensitive, so please try again with the exact same username you registered with. </small>
                                </h6>
                            {% endif %}
                              <div class="card-text">

                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control form-control-lg"
                                               id="{{ form.username.id_for_label }}" name="username"
                                               placeholder="username">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control form-control-lg"
                                               id="{{ form.password.id_for_label }}" name="password"
                                               placeholder="password">
                                    </div>
                                </div>
                              </div>
                        </div>
			{% endif %}
                        <div class="card-footer">

			    {% if SAML_SSO_ENABLED %}
                              <a href="{% url "samlsso" %}?sso" class="btn btn-primary">Login</a>
			    {% endif %}
			    {% if not SAML_SSO_ENABLED %}
                              <input class="btn btn-primary" type="submit" value="Login"/>
                              <button class="btn btn-sm btn-secondary pull-right" type="button" data-url="{% url 'registration_register' %}">New User</button>
			    {% endif %}
                        </div>
                    </form>
		    {% if not SAML_SSO_ENABLED %}
		      <a href="{% url 'password_reset' %}" >Forgot Password</a>
		    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block script %}
    {{ block.super }}
    <script nonce='jcRquZ2yV9' type='text/javascript'>
	$('.btn').on('click', function(e) {
	    window.location.href=$(this).data("url");
	});	
    </script>
{% endblock %}
