{% extends 'trimscape/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
  <p>
    Your password has been set. You may go ahead and <a href="{% url 'signin' %}">sign in</a> now.
  </p>
  </div>
</div>
{% endblock %}
