{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RiskScape</title>
    <link rel="stylesheet" href="{% static "trimscape/css/bootstrap.min.css" %}">

  </head>
  <body>
    <div class="container">
      <h1>RiskScape</h1>

      {% block content %}{% endblock %}
    </div>
  </body>
</html>
