{% extends 'trimscape/base.html' %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card {% if form.errors %}card-outline-danger text-danger{% endif %}">
                        <div class="card-header {% if form.errors %}card-danger{% else %}card-primary{% endif %} card-inverse">
                              <button class="btn btn-sm btn-primary" type="button" data-url="{% url 'two_factor:login' %}">Login</button>
                              <button class="btn btn-sm btn-secondary pull-right" type="button" data-url="{% url 'registration_register' %}">New User</button>
                        </div>
		      <a href="{% url 'password_reset' %}" >Forgot Password</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    {{ block.super }}
    <script nonce='jcRquZ2yV9' type='text/javascript'>
	$('.btn').on('click', function(e) {
	    window.location.href=$(this).data("url");
	});	
    </script>
{% endblock %}
