<div data-loc="loc-{{ location }}" data-strat="strat-{{strat_id}}">
    <div class="alert alert-danger collapse" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{ location }}</strong> has insufficient data.
    </div>
    <div class="card card-outline-primary">
        <div class="card-header bg-primary text-white"><h5><strong>{{ location }}</strong></h5></div>
        <div class="card-block">
            <div class="card-body">
		    <h5 class="card-title">Prevalence of the Selected Outcome by <span class="strat-label-{{strat_id}}"></span></h5>
		        <div id="bar-{{ position }}" class="barchart"></div>
            </div>
        </div>
	{% if strat_id == 3 %}
	<div class="form-group row">
  	  <label for="chart-sel" class="col-sm-2 col-form-label" >Chart type:</label>
	  <select class="form-control" id="chart-sel" type="text" style="width:auto;" onchange="selectChart(this,{{ position }})">
    		<option value="bar" >Bar</option>
    		<option value="line" >Line</option>
    		<option value="scatter" >Scatter</option>
  	    </select>
	</div>
	{% endif %}
	{% if strat_id != 3 %}
        <hr/>
        <div class="card-block">
            <div class="card-body">
		    <h5 class="card-title"><span class="strat-label-{{strat_id}}"></span> of Patients with the Selected Outcome</h5>
                <div id="pie-{{ position }}" class="piechart"></div>
            </div>
        </div>
	{% endif %}
    </div>
</div>
