<div class="modal {% if not drilldown %}fade{% endif %}" id="outcome-modal" tabindex="-1" role="dialog"
     data-backdrop='static' data-show='true' aria-hidden="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="select-form" action="{% if landing or map %}{% url 'map' %}{% else %}.{% endif %}"
                  method="post">{% csrf_token %}
                <input type="hidden" name="query" value="">
                <div class="modal-header">
                    <h4 class="modal-title pull-left" id="myModalLabel">Select Outcome(s) of Interest</h4>
                    {% if landing %}
                        <a type="button" class="close" href="{% url 'home' %}">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    {% else %}
                        <button type="button" class="close" onclick="submitDefaultForm();">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    {% endif %}
                </div>
                <div class="modal-body">
		    {% if SAE_ENABLED %}
		    <!--
                    <div class="container">
		      <div class="row" >
                  	<div class="btn-group btn-group-sm">
		    	  <a href="#" class="btn btn-primary" >Observed Estimates</a>
                    	  <a href="#" id="modeled-btn" class="btn btn-outline-secondary" data-surl="{% url 'sae_home' 1 %}"  >Modeled Estimates</a>
                   	</div>
		      </div>
		    </div>
                    <hr/>
		    -->
		    {% endif %}
                    <p><b>Outcome</b></p>
                    <div id="condition-picker">
                        {% for field in outcome_form %}
                            <div id="{{ field.name }}-selector" aria-expanded="false" class="collapse condition"
                                 {% if field.name in outcome_form.initial.keys %}data-visible="yes"{% endif %}>
                                <div class="card card-block card-outline-success">
                                    <h6 class="card-title text-success">
                                        {% if not field.name in outcome_form.initial.keys or not drilldown %}
                                            <button type="button" class="close" data-toggle="collapse"
                                                    data-target="#{{ field.name }}-selector"
                                                    aria-controls="{{ field.name }}-selector" aria-expanded="false">
                                                <span><i class="fa fa-close"></i></span>
                                            </button>
                                        {% endif %}
                                        {{ field.label }}
                                    </h6>
                                    <p class="card-text clearfix">
                                        {% if field|length > 2 %}
                                            {% for check in field %}
                                                <label for="{{ check.id_for_label }}">
                                                    <span>{{ check.tag }}</span>
                                                    {{ check.choice_label }}
                                                </label>
                                            {% endfor %}
                                        {% else %}
                                            <input type="hidden" name="{{ field.html_name }}" id="id_{{ field.html_name }}"
                                                   value="1"
                                                   {% if not field.name in outcome_form.initial.keys %}disabled{% endif %}>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="input-group">
			    <div id="outcome-adder" class="input-group-prepend bg-primary">
				    <span class="input-group-text">abc</span>
			    </div>
                        <select class="custom-select form-control form-inline"
                                onchange="toggleCondition($(this).find('option:selected').attr('data-target'));$(this).val('placeholder');">
                            <option value="placeholder"></option>
                            <optgroup label="Chronic Conditions">
                                {% for field in outcome_form %}
                                    {% if field.name == 'bmi_percent' %}
                                        </optgroup>
                                        <optgroup label="Pediatric Chronic Conditions">
                                            {% elif field.name == 'ili_current' %}
                                        </optgroup>
                                        <optgroup label="Infectious Diseases">
                                            {% elif field.name == 'ldl' %}
                                        </optgroup>
                                        <optgroup label="Labs">
                                            {% elif field.name == 'opioid_rx' %}
                                        </optgroup>
                                        <optgroup label="Controlled Substances">
                                            {% elif field.name == 'pregnant' %}
                                        </optgroup>
                                        <optgroup label="Pregnancy-Related Conditions">

                                    {% endif %}
                                    <option {% if field.name in outcome_form.initial.keys %}disabled{% endif %}
                                            data-target="#{{ field.name }}-selector"
                                            aria-controls="{{ field.name }}-selector"
                                            aria-expanded="false">{{ field.label }}</option>
                                {% endfor %}
                                </optgroup>
                        </select>
                    </div>

                    <hr/>
		    {% if not SAE_ENABLED and GEO2_FILE or not SAE_ENABLED and GEO_PLACES %}
                    <div>
                        <p><b>Geo Area</b></p>
                        <div>
                            {{ geo_form.geo_area }}
                        </div>
		    </div>
		    {% endif %}
                    <hr/>
                    <div>
                        <p><b>Inclusion Criteria</b></p>
                        <div class="form-inline form-group">
                            {{ filter_form.encounters_one_year.label_tag }}{{ filter_form.encounters_one_year }}
                        </div>
                        <div class="form-inline form-group">
                            {{ filter_form.encounters_total.label_tag }}{{ filter_form.encounters_total }}
                        </div>
                        <ul id="filter-tabs" class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#demo" role="tab">Demographics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#comorb" role="tab">Comorbidities</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#labs" role="tab">Labs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#bp" role="tab">BP</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#rx" role="tab">Rx</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="demo" role="tabpanel">
                                {% for field in filter_form %}
                                    {% if not field.name in 'encounters_one_yearencounters_total' and field.name != 'ethnicity' or ETHNICITY_ENABLED and field.name == 'ethnicity' %}
                                        {% if field.name == 'smoker' %}
                                            </div>
                                            <div class="tab-pane" id="comorb" role="tabpanel">
                                                {% elif field.name == 'ldl' %}
                                            </div>
                                            <div class="tab-pane" id="labs" role="tabpanel">
                                                {% elif field.name == 'sysbp' %}
                                            </div>
                                            <div class="tab-pane" id="bp" role="tabpanel">
                                                {% elif field.name == 'insulin' %}
                                            </div>
                                            <div class="tab-pane" id="rx" role="tabpanel">
                                        {% endif %}
                                        <div class="filter {% if field.name in filter_form.initial.keys %}text-success{% endif %}">
                                            <span data-toggle="collapse" href="#{{ field.name }}-filter"
                                                  aria-expanded="false"
                                                  aria-controls="{{ field.name }}-filter">{{ field.label }}&nbsp;&nbsp;&nbsp;&nbsp;<i
                                                    class="fa fa-caret-{% if not field.name in filter_form.initial.keys %}right{% else %}down{% endif %}"></i></span>
                                            <div id="{{ field.name }}-filter" aria-expanded="false"
                                                    {% if not field.name in filter_form.initial.keys %}
                                                 aria-expanded="false" class="collapse" {% else %}
                                                 class="collapse in" {% endif %}>
                                                {% for check in field %}
						    {% if field.name == 'race_ethnicity' %}
						    	<div>
							    <label for="{{ check.id_for_label }}">
                                                                <span>{{ check.tag }}</span>
                                                                {{ check.choice_label }}
                                                            </label>
						        </div>
						    {% else %}
							    <label for="{{ check.id_for_label }}">
                                                                <span>{{ check.tag }}</span>
                                                                {{ check.choice_label }}
                                                            </label>
						    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
			<fieldset class="w-100" id='form-status'>
                         {% if landing %}
                            <button type="button" class="btn btn-secondary btn-sm float-right"
                                     onclick="window.location.href='{% url 'home' %}'">Cancel
                            </button>
                         {% else %}
			    <button type="button" class="btn btn-secondary btn-sm float-right" onclick="submitDefaultForm();">
                                 Cancel
                            </button>
                         {% endif %}
                        <input type="button" class="btn btn-primary btn-sm" onclick="forwardForm('{% url 'map' %}');"
                               value="Map">
                        <input type="button" class="btn btn-primary btn-sm"
                               onclick="forwardForm('{% url 'current' %}');" value="Demographics">
                        <input type="button" class="btn btn-primary btn-sm"
                               onclick="forwardForm('{% url 'timeseries' %}');" value="Timeseries"><span
                            class="text-danger invisible d-block">You have Outcome(s) of Interest or Inclusion Criteria with no selected options</span>
			</fieldset>
                </div>
            </form>
        </div>
    </div>
</div>
