{% extends 'analysis/graphable.html' %}
{% load humanize %}
{% load static %}

{% block main %}
    <div class="row">
        {% if Failure %}
            <div class="alert alert-md alert-danger alert-dismissible show col-md-4" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Failed</strong>: {{ Failure|join:", " }}
            </div>
        {% endif %}
        {% if Pending %}
            <div class="alert alert-md alert-info alert-dismissible show col-md-4" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Uploaded</strong>: {{ Pending|join:", " }}
            </div>
        {% endif %}
        {% if Waiting %}
            <div class="alert alert-md alert-warning alert-dismissible show col-md-4" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Waiting</strong>: {{ Waiting|join:", " }}
            </div>
        {% endif %}
        {% if Running %}
            <div class="alert alert-md alert-info alert-dismissible show col-md-4" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Running</strong>: {{ Running|join:", " }}
            </div>
        {% endif %}
        {% if Success %}
            <div class="alert alert-md alert-success alert-dismissible show col-md-4" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Success</strong>: {{ Success|join:", " }}
            </div>
        {% endif %}
    </div>
    <div class="row">
	<div class="row w-100">
            {% if SAE_ENABLED %}
	    <div class="col">
                  <div class="btn-group btn-group-sm">
		    <a href="{% url 'sae_home' %}" class="btn {% if sae %}btn-primary {% else %} btn-light btn-outline-secondary {% endif %}" 
			    title="Modeled estimates have been statistically adjusted to account for differences between the MDPHnet population and the Massachusetts population, including age, sex, race-ethnicity, preferred language, and Charlson Comorbidity Index. For further detail on methods, please see INSERT REFERENCE HERE." >Modeled Estimates</a>
                    <a href="{% url 'home' %}" class="btn {% if landing and not sae%}btn-primary {% else %} btn-outline-secondary {% endif %}" 
			    title="Observed estimates have not been adjusted to account for differences between the MDPHnet population and the Massachusetts population. Despite the large MDPHnet coverage, this may introduce bias. Given this, observed estimates should be interpreted cautiously." >Observed Estimates</a>
                   </div>
	    </div>
	    {% else %}
	    <div class="col">
                <h6 class="float-left">Select Condition Definition or
                <button class="btn btn-sm btn-outline-primary" onclick="$('#outcome-modal').modal('show');">Create your
                    Own <i class="fa fa-search"></i></button>
	        </h6>
	    </div>
            {% endif %}
	    <div class="col">
	    {% if not SAE_ENABLED or not sae %}
            <h6 class="float-right">
                Data Last Updated {{ last_outcome_update }}<br/>
                Population Under Surveillance: {{ total_caught|intcomma }}
            </h6>
	    {% else %}
            <h6 class="float-right">
                Data Last Updated {{ last_sae_outcome_update }}<br/>
		Most Recent Modeling Year: {{ sae_default_end.year }}
	    {% endif %}
            </h6>
	    </div>
	</div>
        <div>
            {% include 'trimscape/dashboard.html' with body="analysis/summary-carousel-item.html" footer="analysis/summary-carousel-item-footer.html" %}
        </div>
        <hr>
        <div class="text-muted">
            <p>Prevalence reflects data from {{ COVERAGE_AREA }} areas covered by {{ ORG_SYSTEM }} data sources. The demographic
                distribution of the {{ ORG_SYSTEM }} population can vary from total {{ COVERAGE_AREA }} population. <a
                        href="javascript:$('#about-link').click();">See more.</a></p>
        </div>
	<div>
		<p><a href={{GOOGLE_FORM}} target="_blank">{{FEEDBACK_TEXT}}</a></p>
	</div>
    </div>
{% endblock %}
{% block script %}
    {{ block.super }}
    <script type='text/javascript' src="{% static "trimscape/js/d3.v5.min.js" %}"></script>
    <script type='text/javascript' src="{% static "trimscape/js/c3.0.7.20.min.js" %}"></script>
    <script type='text/javascript'>
        $('[data-url]').on('click', function () {
            window.location.href = $(this).attr('data-url');
        })

        $("div[data-donut]").each(function () {
            var percentage = $(this).data('donut');
            var bg = $(this).css('background-color');
            c3.generate({
                bindto: '#' + $(this).attr('id'),
                size: {width: 225, height: 150},
                data: {
                    columns: [
                        ['show', percentage],
                        ['dontshow', 100 - percentage],],
                    type: 'donut',
                    order: null,
                    line: {
                        connect: {null: false}
                    }
                },
                color: {
                    pattern: ['#0275D8', bg]
                },
                legend: {
                    show: false
                },
                donut: {
                    label: {
                        show: false
                    },
                    title: percentage + '%',
                    width: 15,
                    expand: false
                },
                tooltip: {
                    show: false
                },
                interaction: {
                    enabled: false
                }
            });
        });

        $("div[data-spark]").each(function () {
            var spark = $(this).data('spark');
            for (var i = 0; i < spark.length; i++) {
                if (spark[i] == -1) {
                    spark[i] = null;
                }
            }
            c3.generate({
                bindto: '#' + $(this).attr('id'),
                data: {
                    columns: [spark],
                    type: "area"
                },
                color: {pattern: ['#fff']},
                legend: {
                    show: false
                },
                tooltip: {show: false},
                axis: {
                    x: {show: false},
                    y: {show: false}
                },
                size: {height: 150, width: 200},
                point: {
                    show: false
                }
            });
        });
        d3.selectAll(".c3-chart-arcs-title")
                .attr("dy", "-0.0em")
                .style('fill', '#fff')
                .style('font-size', 'large');
    </script>
{% endblock %}
