{% include 'analysis/menu_search.html' %}
<div class="scroller">
{% if owner == 'location-two' %}
    <a class="dropdown-item"  href="javascript:updateLocation('{{ owner }}','none','None');">None</a>
{% endif %}
<a class="dropdown-item"  href="javascript:updateLocation('{{ owner }}','{{geo_location}}','{{geo_location}}');">{{geo_location}}</a>
<h6>Places</h6>
{% for loc in location_list.cities %}
    <a class="dropdown-item" href="javascript:updateLocation('{{ owner }}','{{ loc }}','{{ loc }}');">{{ loc }}</a>
{% endfor %}
{% if geo_area == 'tract' or geo_place_type == 'tract' %}
<h6>Census Tracts</h6>
{% for loc in location_list.tracts %}
    <a class="dropdown-item" href="javascript:updateLocation('{{ owner }}','{{ loc }}','{{ loc }}');">{{ loc }}</a>
{% endfor %}
{% endif %}
{% if geo_area == 'zip' or geo_place_type == 'postcode'%}
<h6>Zip Codes</h6>
{% for loc in location_list.zips %}
    <a class="dropdown-item" href="javascript:updateLocation('{{ owner }}','{{ loc }}','{{ loc }}');">{{ loc }}</a>
{% endfor %}
{% endif %}
{% if geo_area == 'muni'%}
<h6>Municipalities</h6>
{% for loc in location_list.munis %}
    <a class="dropdown-item" href="javascript:updateLocation('{{ owner }}','{{ loc }}','{{ loc }}');">{{ loc }}</a>
{% endfor %}
{% endif %}
</div>
