{% extends 'analysis/graphable.html' %}
{% load static %}
{% load humanize %}

{% block main %}
    {{ block.super }}
    <div id="map-container">
        <nav class="navbar navbar-light bg-faded">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" onclick="toggleMap($(this));">Hide Map Underlay</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><input type="range" min="0" value="100" max="100"
                                               oninput="changeOpacity(this.value);"></a>
                </li>
            </ul>
	   {% if SAE_ENABLED %}
	    <div>
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="color" id="color1" value='color1' checked>
		  <label class="form-check-label" for="color1">
		    Default color
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="color" id="color2"  value='color2' >
		  <label class="form-check-label" for="color2">
		    Alternate color
		  </label>
		</div>
	    </div>
	   {% endif %}
            <div class="form-check form-inline pull-xs-right">
                <input class="form-control" type="text" id="zip-jump" placeholder="Highlight Area">
                <button class="btn btn-outline-success" onclick="showZip($('#zip-jump').val());">Highlight</button>
            </div>
        </nav>
        <div id="map" class="pull-left img-rounded" style="background-color: white;width:95.5%"
	   {% if SAE_ENABLED and sae %}
             data-url="{% url 'sae_map_overlay' pk=map_cache %}"></div>
	   {% elif SAE_ENABLED %}
             data-url="{% url 'map_overlay' pk=map_cache %}"></div>
	   {% else %}
             data-url="{% url 'map_overlay' pk=map_cache %}"></div>
            <div id="legend1" class="pull-right" style="width:4%">
              <div id="legend-max" class="text-md-center">&nbsp;</div>
              <div id="legend" style="height: 550px;"></div>
              <div id="legend-min" class="text-md-center">&nbsp;</div>
            </div>
	   {% endif %}
    </div>
    <div id="zip-details" class="map-tip card card-block text-muted font-weight-bold">
        <button type="button" class="close pull-right" aria-label="Close" onclick="closetip();">
            <span aria-hidden="true">&times;</span>
        </button>
        <h6 class="card-text text-md-center zip-code">
		{% if geo_place_type == 'tract'  or geo_area == 'tract' %}
			Census Tract 
		{% elif geo_area == 'muni' %}
			City/town
		{% else %}
			Zip Code 
		{% endif %}
		<span></span>
	</h6>
        <hr>
    {% if SAE_ENABLED and sae %}
        <div class="card-text text-md-center prevalence">Prevalence <span></span>%<br/>
        <p class="card-text text-md-center font-weight-normal population">
            Lower CI: <span class="lowerci"></span>%<br/>
            Upper CI: <span class="upperci"></span>%<br/>
	</p>

    {% else %}
        <div class="card-text text-md-center prevalence">Outcome Prevalence <span></span>%<br/>
            <p class="font-weight-normal">(<span></span>)</p></div>
        <div class="row graph-links">
            <div class="col-md-3 offset-md-1 text-md-center text-primary font-weight-bold">
                <a>Details</a>
            </div>
            <div class="col-md-7 offset-md-1 text-md-center text-primary font-weight-bold">
                <a>Rates Over Time</a>
            </div>
        </div>
        <p class="card-text text-md-center font-weight-normal population">
            Riskscape Population: <span class="catch"></span><br/>
            Census Population: <span class="pop"></span><br/>
            Riskscape Census Coverage: <span class="cover"></span>%</p>
    {% endif %}
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type='text/javascript' src="{% static "trimscape/js/leaflet0.7.5.min.js" %}"></script>
    <script type='text/javascript' src="{% static "trimscape/js/d3-4.2.2.min.js" %}"></script>
    <script type='text/javascript' src="{% static "trimscape/js/d3-scale-chromatic.v1.min.js" %}"></script>
    <script type='text/javascript'>
	var sae_enabled = false;
	{% if SAE_ENABLED %}
	    sae_enabled = true;
	{% endif %}

	var color_palette = 'default';
	$('input[type=radio][name=color]').change(function() {
	    if (this.value == 'color1') {
		color_palette = 'default';
	    } else {
		color_palette = 'alternate';
	    }
            mapInterval = setInterval(function () {
                getMapData($('#map').attr('data-url'));
            }, 1000);
	});
	function getMapColorsQ5rgb(){
	    return [getColor(0.2),getColor(0.4),getColor(0.6),getColor(0.8),getColor(1)];
	}
	function getMapColorsQ5(){
	    return ["#cee9fd","#84c9fb","#3aa9f8","#0885dd","#055994"];
	}
	function getMapColorsBlue(){
	    return ["#e6f4fe", "#cee9fd","#b5dffc", "#9dd4fb", "#84c9fb", 
		    "#6bbefa","#53b4f9", "#3aa9f8","#229ef7", "#0993f6", 
		    "#0885dd","#0776c5" ,"#0667ac","#055994"];
	}
	
	{% if SAE_ENABLED %}
            $('#map').width(1100);
            $('#map').height(800);
	{% else %}
            $('#map').width($('#map').width());
            $('#map').height(600);
	{% endif %}
        activateLoadingOverlay();
        var layer = L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://carto.com/attributions">CARTO</a>'
        });
        // Date parameters
        updateTimeChunk('{{ chunked|capfirst }}');
	$('#time-interval').hide();
	$('#start-date').hide();
	$('#timebound-breadcrumb').find('>span:first').hide();
	$('#timebound-breadcrumb').find('>small:first').hide();        
	$('#timebound-breadcrumb').find('>small:last').html('month & year:');        
	$('#sae-timebound-breadcrumb').find('>span:first').hide();
	$('#sae-timebound-breadcrumb').find('>small:first').hide();        
	$('#sae-timebound-breadcrumb').find('>small:last').html('year:');        

	// Min prevalence numerator
	var min_prev_numerator = "&lt" + "{{MIN_PREV_NUMERATOR}}"; //"&lt5";

        // Geo config
	var conf_geo_area = "{{geo_area}}";
	var geo_file = '';
	if ((conf_geo_area == 'tract') || (conf_geo_area == 'muni') ) {
            var geo_center =  ["{{GEO2_CENTER_LAT}}", "{{GEO2_CENTER_LON}}"];
            var geo_maxBounds = [["{{GEO2_BOUNDS_LAT1}}", "{{GEO2_BOUNDS_LON1}}"],
                                ["{{GEO2_BOUNDS_LAT2}}", "{{GEO2_BOUNDS_LON2}}"]];
            var geo_zoom = "{{GEO2_ZOOM}}";
            var geo_area = "{{GEO2_AREA}}";
            var geo_file = "{{GEO2_FILE}}";
	} else if (conf_geo_area == 'zip'){
            var geo_center =  ["{{GEO_CENTER_LAT}}", "{{GEO_CENTER_LON}}"];
            var geo_maxBounds = [["{{GEO_BOUNDS_LAT1}}", "{{GEO_BOUNDS_LON1}}"],
                                ["{{GEO_BOUNDS_LAT2}}", "{{GEO_BOUNDS_LON2}}"]];
            var geo_zoom = "{{GEO_ZOOM}}";
            var geo_area = "{{GEO_AREA}}";
            var geo_file = "{{GEO_FILE}}";
	} else if (conf_geo_area >= 0){

	    var geo_places = {{GEO_PLACES|safe}};
	    if (geo_places) {
		var geo_place = geo_places[conf_geo_area];
		if (geo_place){
		    var geo_zoom = geo_place['GEO_ZOOM'];
		    var geo_area = geo_place['GEO_AREA'];
		    var geo_file = geo_place['GEO_FILE'];
		    var geo_center = [geo_place['GEO_CENTER_LAT'], geo_place['GEO_CENTER_LON']];
		    var geo_maxBounds = [[geo_place['GEO_BOUNDS_LAT1'], geo_place['GEO_BOUNDS_LON1']],
			    		[geo_place['GEO_BOUNDS_LAT2'], geo_place['GEO_BOUNDS_LON2']]];
		}
	    }
	}
        var geo_path = "{% static 'trimscape/d3/' %}";
        var geojson_file = geo_path + geo_file;

        // Intialize the map
        var map = L.map('map', {
            //scrollWheelZoom: false,
            center: geo_center,
            //maxBounds: geo_maxBounds,
            zoom: geo_zoom, minZoom: 4, maxZoom: 13
        });
        map.addLayer(layer);

        function addControlPlaceholders(map) {
            var corners = map._controlCorners,
                    l = 'leaflet-',
                    container = map._controlContainer;

            function createCorner(vSide, hSide) {
                var className = l + vSide + ' ' + l + hSide;

                corners[vSide + hSide] = L.DomUtil.create('div', className, container);
            }

            createCorner('top', 'center');
        }
        addControlPlaceholders(map);

        var StatePrevControl = L.Control.extend({
            options: {
                position: 'topcenter'
            },
            onAdd: function (map) {
                return L.DomUtil.create('div', 'state-prev-control');
            },
            setContent: function (content) {
                this.getContainer().innerHTML = content;
            }
        });

        var statePrev = new StatePrevControl().addTo(map);

        function setOverall(overall) {
            statePrev.setContent("Overall Prevalence: " + overall);
        }
        function setSAEOverall(overall, npats, ci_lower, ci_upper) {
		statePrev.setContent("Overall Prevalence: " + overall + "<br />" + "Lower CI:" + ci_lower + "<br />" + "Upper CI:" + ci_upper);
        }

	function addLegend(min, max){
	    $("div.map-legend").remove();
	    var colors = getMapColorsBlue();
	    nbins = colors.length;
	    step = Math.ceil((max-min)/nbins + 0.1);
	    var x = arrayRange(min, max, step).reverse();
	    var legend = L.control({position: 'bottomright'});
	    legend.onAdd = function (map) {
    	        var div = L.DomUtil.create('div', 'info map-legend');
		var colors = getMapColorsBlue(x.length-1).reverse();
                labels = [];
		div.style.backgroundColor = "white";
    	        // loop through our density intervals and generate a label with a colored square for each interval
		if (x[x.length-1] == 0) {
		    x[x.length-1] = 1;
		}
    	        for (var i = 0; i < colors.length; i++) {
			leg_str = '';
			if (i == 0){
			    //leg_str = x[i] + '&ndash;' + max + '<br>';
			    leg_str = max + '%<br>';
			} else if (i>0 && x[i] && x[i+1]){
				//leg_str = x[i] + '&ndash;' + (x[i-1]-1) + '<br>';
				leg_str = '<br>';
			} 
			else if (i>0 && x[i] ) {
				//leg_str = (x[i-1]-1) + '&ndash;' + min + '<br>';
				leg_str = min + '%<br>';
			}
                    div.innerHTML +=
                    '<i style="background:' + colors[i] + '"></i> ' + leg_str;
                }
		    div.innerHTML += '<i style="background:white"></i> ' + '<br>';
                div.innerHTML += '<i style="background:#9C7C59;opacity:0.5"></i> ' + 'No data';

                return div;
            };
	    legend.addTo(map);
	}
	$(function () {
  		$('[data-toggle="tooltip"]').tooltip()
	})
	function addLegendQ5(q_range){
	    var legend = L.control({position: 'topright'});
	    $("div.map-legend").remove();
	    legend.onAdd = function (map) {
    	        var div = L.DomUtil.create('div', 'info map-legend');
		if (color_palette == 'default') {
		    var colors = getMapColorsQ5rgb().reverse();
		} else {
		    var colors = getMapColorsQ5().reverse();
		}
                labels = [];
		div.style.backgroundColor = "white";
		n_colors = colors.length;
		q_min = [q_range.q1.min, q_range.q2.min, q_range.q3.min, q_range.q4.min, q_range.q5.min].reverse();
		q_max = [q_range.q1.max, q_range.q2.max, q_range.q3.max, q_range.q4.max, q_range.q5.max].reverse();
    	        for (var i = 0; i < n_colors; i++) {
		    leg_str = 'Q' + (n_colors-i) + ' (' + q_min[i] + '&ndash;' + q_max[i] + '%)<br>';
                    div.innerHTML +=
                    '<i style="background:' + colors[i] + '"></i> ' + leg_str;
                }
		    div.innerHTML += '<i style="background:white"></i> ' + '<br>';
                div.innerHTML += '<i style="background:#9C7C59;opacity:0.5"></i> ' + 'No data';
		div.title = "A quintile is the ranked division of data into 5 equal parts, such that 0-19% of the lowest data values are contained in Q1, 20-39% of the next highest data values are contained in Q2, and so on through Q5. Prevalence quintiles are useful for comparing the magnitude of difference in prevalence between subpopulations of interest.";
		$(".info.map-legend").attr("data-toggle", "tooltip");
                return div;
            };
	    legend.addTo(map);
	}

        function toggleMap(caller) {
            if (caller.html().includes("Hide")) {
                layer.setOpacity(0);
                caller.html('Show Map Underlay');
            } else {
                layer.setOpacity(1);
                caller.html('Hide Map Underlay');
            }
        }

        jQuery.fn.d3Click = function () {
            this.each(function (i, e) {
                var evt = new MouseEvent("click");
                e.dispatchEvent(evt);
            });
        };

        function showZip(zc) {
	    if (geo_area == 'muni'){
			zc = zc.replace(/\s+/g, '-').toUpperCase();
		}
            highlightZip(zc);
            $('.zippath-' + zc).d3Click();
        }

        function highlightZip(zc) {
            $('#zip-jump').parent().removeClass('has-danger');
            $('.zip-highlight').removeClass("zip-highlight");
            if ($('.zippath-' + zc).length > 0) {
                $('.zippath-' + zc).addClass("zip-highlight");
            }
            else {
                $('#zip-jump').parent().addClass('has-danger');
            }
            $('#zip-jump').val('');
        }

        function closetip() {
            $('.map-tip').hide();
            $('.zip-highlight').removeClass('zip-highlight');
        }
        var svg = d3.select(map.getPanes().overlayPane).append("svg").on("mousedown", closetip),
                g = svg.append("g").attr("class", "leaflet-zoom-hide");

        function changeOpacity(val) {
            $('.zipcode').css('fill-opacity', val / 100);
            $('#legend').css('opacity', val / 100);
        }
        function getColor(percent) {
            return d3.interpolateSpectral(1 - percent);
        }
	const arrayRange = (start, stop, step) =>
	    Array.from(
    	    { length: (stop - start) / step + 1 },
    	    (value, index) => start + index * step
    	    );
        function getColorBin(prevalence, min, max) {
	    var colors = getMapColorsBlue();
	    nbins = colors.length;
	    step = Math.ceil((max-min)/nbins + 0.1);
	    var x = arrayRange(min, max, step);
	    var color_bin = "#9C7C59"; // no data
	    if (prevalence != null){ 
    	      for (var i = 0; i < x.length; i++) {
		    if (prevalence  >= x[i] ){
		    color_bin = colors[i];
		}
	      }
	    }
	    return color_bin;
        }
	function getColorQ5(quintile){
	     var q_colors = getMapColorsQ5();
		if (quintile > 0 && quintile <=5){
		     return q_colors[quintile-1];
		}
	}
	function getColorBlue(percent){
	    var colors = getMapColorsBlue();
	    var n = Math.round(colors.length*percent/100) -1;
	    if (n < 0){
	        return colors[0];
	    } else if (n >= 0 && n <= colors.length){
		return colors[n];
	    }
	}

        var mapInterval = null;
        d3.json(geojson_file, function (error, collection) {
            if (error) throw error;
            var transform = d3.geoTransform({point: projectPoint}),
                    path = d3.geoPath().projection(transform);

            var feature = g.selectAll("path")
                    .data(collection.features)
                    .enter().append("path")
                    .attr('class', function (d) {
                        if (geo_area == 'postcode')
                            return 'zipcode zippath-' + d.properties.POSTCODE + ' nozip'
			else if (geo_area == 'muni'){
			    //muni_name = d.properties.NAME ? d.properties.NAME.replace(/\s+/g, '-') : null;
			    muni_name = d.properties.TOWN ? d.properties.TOWN.replace(/\s+/g, '-') : null;
			    return 'zipcode zippath-' + muni_name + ' nozip';
			}
                        else if (geo_area == 'tract')
                            return 'zipcode zippath-' + d.properties.GEOID + ' nozip';
                    });
            map.on("viewreset", reset);
            reset();
            // Reposition the SVG to cover the features.
            function reset() {
                closetip();
                var bounds = path.bounds(collection),
                        topLeft = bounds[0],
                        bottomRight = bounds[1];

                svg.attr("width", bottomRight[0] - topLeft[0])
                        .attr("height", bottomRight[1] - topLeft[1])
                        .style("left", topLeft[0] + "px")
                        .style("top", topLeft[1] + "px");

                g.attr("transform", "translate(" + -topLeft[0] + "," + -topLeft[1] + ")");

                feature.attr("d", path);
            }

            // Use Leaflet to implement a D3 geometric transformation.
            function projectPoint(x, y) {
                var point = map.latLngToLayerPoint(new L.LatLng(y, x));
                this.stream.point(point.x, point.y);
            }

            mapInterval = setInterval(function () {
                getMapData($('#map').attr('data-url'));
            }, 1000);
        });
        function getMapData(mapcache) {
            $.ajax({
                url: mapcache,
                type: 'get',
                dataType: 'json',
                cache: false,
                success: function (response) {
                    if (response.complete) {
                        var data = response.data;
                        clearInterval(mapInterval);
			if (sae_enabled){
			    addLegendQ5(data.q_range);
			}
                        $("#legend-max").html(data.map_range.max + "%").data('percent', data.map_range.max);
                        $("#legend-min").html(data.map_range.min + "%").data('percent', data.map_range.min);
			if ('prevalence' in data.statewide){
			    setSAEOverall(data.statewide.prevalence + "%", data.statewide.npats, data.statewide.ci_lower + "%", data.statewide.ci_upper + "%");
			} else {
                        setOverall(data.statewide.numerator + "/" + data.statewide.denominator + " (" + data.statewide.ratio + "%)");
			}
                        populateMap(data);
                        deactivateLoadingOverlay();
                    }
                },
                error: function (err) {
                    clearInterval(mapInterval);
                    $('#error-alert').show();
                    deactivateLoadingOverlay();
                    console.log(err);
                }
            });
        }

        function populateMap(data,n_colorbins) {
            $.each(data.map_data, function (idx, md) {
                d3.selectAll('.zippath-' + md.zip)
                        .classed('nozip', function () {
                            return md.normalized == null ? true : false;
                        })
                        .attr('fill', function () {
			    if (sae_enabled){
				if (color_palette == 'default') {
                                    return getColor(md.quintile*0.2);
				} else {
                                    return getColorQ5(md.quintile);
				}
			    } else {
                                return getColor(md.normalized);
			    }
                        })
                        .on('click', function () {
                            if (!$(this).hasClass('nozip')) {
                                closetip();
                                var zd = $('#zip-details');
				if ('sae' in data){
				    var muni_name = md.zip ? md.zip.replace(/-/g, ' ') : '';
                                    zd.find('.zip-code>span').html(muni_name);
                                    zd.find('.prevalence>span:first').html(md.prevalence);
				    zd.find('.population>span.lowerci').html(md.lowerci);
				    zd.find('.population>span.upperci').html(md.upperci);
				} else {
                                zd.find('.zip-code>span').html(md.zip);
                                zd.find('.population>span.catch').html(md.catchment);
                                zd.find('.population>span.pop').html(md.population);
                                zd.find('.population>span.cover').html(md.coverage);
                                zd.find('.prevalence>span:first').html(md.prevalence);
                                zd.find('.prevalence>p>span').html(md.numerator != null ? md.numerator+"/"+md.denominator : min_prev_numerator);
                                zd.find('.graph-links a:first').attr("href", "javascript:forwardForm('{% url 'current' %}?location=" + md.zip + "')");
                                zd.find('.graph-links a:last').attr("href", "javascript:forwardForm('{% url 'timeseries' %}?location=" + md.zip + "')");
				}
                                zd.show();
                                highlightZip(md.zip);
                            }
                            d3.event.stopPropagation();
                        });
            });
        }

    </script>

{% endblock %}
