            <div id="graphable-toolbar" class="modal-body container">
		{% if timeseries or current %}
		<div class="row">
                    <p><b>Locations</b></p>
		</div>
                <div class="row">
                    <div class="col-md-4">First Chart Location:</div>
                    <div class="col-md-8">
                        <button id="location-one" type="button" class="btn btn-sm btn-outline-primary dropdown-toggle location-button"
				data-location="{{ data.0.location }}" 
				data-location_label="{{ data.0.location_label }}"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            {{ data.0.location_label }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="location-one">
                            {% include 'analysis/locations.html' with owner='location-one' %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">Second Chart Location:</div>
                    <div class="col-md-8">
                        <button id="location-two"
                                type="button"
                                class="btn btn-sm btn-outline-primary dropdown-toggle location-button"
                                data-location="{% if data.0.location == data.1.location %}none{% else %}{{ data.1.location }}{% endif %}"
                                data-location_label="{% if data.0.location == data.1.location %}none{% else %}{{ data.1.location_label }}{% endif %}"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            {% if data.0.location == data.1.location %} None {% else %}
                                {{ data.1.location_label }}
                            {% endif %}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="location-two">
                            {% include 'analysis/locations.html' with owner='location-two' %}
                        </div>
                    </div>
                </div>
		<hr/>
		{% endif %}
		<div class="row">
                    <p><b>Time Period</b></p>
		</div>
		    {% if timeseries %}
                    <div class="row" id="start-date">
                        <div class="col-md-4">Start Date:</div>
                        <div class="col-md-8">
                            {% if dynamic_start %}
                                {% with time=dynamic_start %}
                                    {% include 'analysis/sae-bound-time.html' with bound="start" %}
                                {% endwith %}
                            {% else %}
                                {% with time=sae_default_start %}
                                    {% include 'analysis/sae-bound-time.html' with bound="start" %}
                                {% endwith %}
                            {% endif %}
                        </div>
                    </div>
		    {% endif %}
                    <div class="row" id="end-date">
			{% if timeseries %}
                        <div class="col-md-4">End Date:</div>
			{% else %}
                        <div class="col-md-4">Year:</div>
			{% endif %}
                        <div class="col-md-8">
                            {% if dynamic_end %}
                                {% with time=dynamic_end %}
                                    {% include 'analysis/sae-bound-time.html' with bound="end" %}
                                {% endwith %}
                            {% else %}
                                {% with time=sae_default_end %}
                                    {% include 'analysis/sae-bound-time.html' with bound="end" %}
                                {% endwith %}
                            {% endif %}
                        </div>
                    </div>
        	</div>
