                    <div class="row no-print">
                        <div class="col-md-8">
			    <button id="condition-select" type="button" class="btn btn-md btn-outline-primary bg-light mb-1 text-dark">
                                <span class="breadcrumb-header float-left">
                                    <small>Condition of Interest & Inclusion Criteria</small>
                                    <i class="fa fa-bars"></i>
                                </span>
				<br>
				<ol class="breadcrumb border-light">
				    <li class="breadcrumb-item">Modeled Estimates</li>
				</ol>
				<ol class="breadcrumb border-light">
                                    {% if geo_form.geo_area.value == 'zip' %}
				    <li class="breadcrumb-item">ZIP code</li>
                                    {% elif geo_form.geo_area.value == 'muni' %}
				    <li class="breadcrumb-item">Town/City</li>
				    {% endif %}
				</ol>
				<ol class="breadcrumb border-light">
                                    {% if outcome_form.condition.value %}
				    	{% if outcome_form.condition.value == 'chypert' %}
				        	<li class="breadcrumb-item">Hypertension</li>
				    	{% elif outcome_form.condition.value == 'diabetes_1_and_2' %}
				        	<li class="breadcrumb-item">Diabetes</li>
				    	{% elif outcome_form.condition.value == 'smoking1' %}
				            <li class="breadcrumb-item">Smoking</li>
				    	{% elif outcome_form.condition.value == 'asthma' %}
				            <li class="breadcrumb-item">Asthma</li>
				    	{% elif outcome_form.condition.value == 'bmi1' %}
				            <li class="breadcrumb-item">Obesity</li>
				    	{% else %}
				            <li class="breadcrumb-item">Invalid Condition Selected </li>
				    	{% endif %}
                                    {% else %}
                                        <li class="breadcrumb-item">No Condition Selected</li></ol>
                                    {% endif %}
                                </ol>
				<ol class="breadcrumb border-light">
					{% if filter_form.demographic1.value %}
					    {% if filter_form.demographic1.value != 'overall' %}
					      {% if filter_form.demographic1.value == 'gender' %}
					        <li class="breadcrumb-item"><small>By:</small>&nbsp;Gender</li>
					        {% if map %}
					          <li class="breadcrumb-item">{{filter_form.gender1.value}}</li>
						{% endif %}
					      {% elif filter_form.demographic1.value == 'age_group' %}
					        <li class="breadcrumb-item"><small>By:</small>&nbsp;Age Group (years)</li>
					        {% if map %}
					          <li class="breadcrumb-item">{{filter_form.age_group1.value}}</li>
						{% endif %}
					      {% elif filter_form.demographic1.value == 'race' %}
					        <li class="breadcrumb-item"><small>By:</small>&nbsp;Race</li>
					        {% if map %}
					          <li class="breadcrumb-item">{{filter_form.race1.value}}</li>
						{% endif %}
					      {% endif %}
					    {% elif current and filter_form.demographic1.value == 'overall' %}
					        <li class="breadcrumb-item">Age Group (years)</li>
					    {% elif filter_form.demographic1.value == 'overall' or filter_form.demographic2.value == 'overall' %}
					        <li class="breadcrumb-item">Age &ge;18</li>
					    {% endif %}
					{% endif %}
                                </ol>
			        {% if filter_form.demographic2.value and filter_form.demographic2.value != 'overall' and not timeseries %}
				  <ol class="breadcrumb border-light">
					      {% if filter_form.demographic2.value == 'gender' %}
					        <li class="breadcrumb-item"><small>By:</small>&nbsp;Gender</li>
					        {% if map %}
					          <li class="breadcrumb-item">{{filter_form.gender2.value}}</li>
						{% endif %}
					      {% elif filter_form.demographic2.value == 'age_group' %}
					        <li class="breadcrumb-item"><small>By:</small>&nbsp;Age Group (years)</li>
					        {% if map %}
					          <li class="breadcrumb-item">{{filter_form.age_group2.value}}</li>
						{% endif %}
					      {% elif filter_form.demographic2.value == 'race' %}
					        <li class="breadcrumb-item"><small>By:</small>&nbsp;Race</li>
					        {% if map %}
					          <li class="breadcrumb-item">{{filter_form.race2.value}}</li>
						{% endif %}
					      {% endif %}
                                  </ol>
				{% endif %}
				<ol class="breadcrumb border-light">
				    {% if not map %}
                                    <li class="breadcrumb-item">
                                        <small>In:</small>&nbsp;
                                        {{ data.0.location_label }}{% if data.0.location != data.1.location %}, {{ data.1.location_label }}{% endif %}
                                    </li>
				    {% endif %}
                                        <li id="sae-timebound-breadcrumb" class="breadcrumb-item">
                                            <small>From:&nbsp;&nbsp;</small>
                                            <span></span>
                                            <small>To:&nbsp;&nbsp;</small>
                                            <span></span>
                                        </li>
                                </ol>
			    </button>
			</div>
                    </div>
