<button id="{{ bound }}-time" data-time="" data-month="{{ time.month }}" data-year="{{ time.year }}" data-quarter="{{ time.quarter }}" 
	data-end-year="{{ sae_default_end.year }}" data-end-month="{{ sae_default_end.month }}"
	type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
</button>
<div class="dropdown-menu time-dropdown" aria-labelledby="{{ bound }}-time">
    {% include 'analysis/menu_search.html' %}
    <div class="scroller">
        {% for yr in sae_year_range %}
                <a class="dropdown-item month" data-time="{{ yr.display }}" data-month="{{ yr.month }}"
                   data-year="{{ yr.year }}" data-quarter="{{ yr.quarter }}"
                   href="javascript:updateTimeBound('{{ bound }}-time', $('a[data-time=\'{{ yr.display }}\']'));">{{ yr.display }}</a>
        {% endfor %}
    </div>
</div>
