{% load static %}
<div class="col-md-3 condition-movement">
    <img src="{% static 'trimscape/img/map-active.png' %}"
         width="50px"
	 {% if outcome %}
           data-url="{% url 'sae-outcome' outcome.name %}">
         {% else %}
           data-url="{% url 'sae-outcome' None %}"></i>
         {% endif %}
    <i class="fa fa-2x fa-bar-chart d-block"
	 {% if outcome %}
           data-url="{% url 'sae-current-outcome' outcome.name %}"></i>
         {% else %}
           data-url="{% url 'sae-current-outcome' None %}"></i>
         {% endif %}
    <i class="fa fa-2x fa-line-chart d-block"
	 {% if outcome %}
           data-url="{% url 'sae-timeseries-outcome' outcome.name %}"></i>
         {% else %}
           data-url="{% url 'sae-timeseries-outcome' None %}"></i>
         {% endif %}
</div>
