<div class="modal {% if not drilldown %}fade{% endif %}" id="sae-outcome-modal" tabindex="-1" role="dialog"
     data-backdrop='static' data-show='true' aria-hidden="false">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form id="select-form" action="{% if landing or map %}{% url 'map' %}{% else %}.{% endif %}"
                  method="post">{% csrf_token %}
                <input type="hidden" name="query" value="">
                <div class="modal-header">
		    {% if map or sae_landing %}
                      <h4 class="modal-title pull-left" id="myModalLabel">Select map, condition, and inclusion criteria</h4>
		    {% else %}
                      <h4 class="modal-title pull-left" id="myModalLabel">Select chart region, condition, and inclusion criteria</h4>
		    {% endif %}
                </div>
                <div class="modal-body">
                    <div class="container">
		      <div class="row" >
                  	<div class="btn-group btn-group-sm">
		    	  <a href="#"  class="btn btn-primary" >Modeled Estimates</a>
			  {% if map %}
			  <a href="#" class="btn btn-outline-secondary" data-furl="{% url 'sae_obs_map'  %}" >Observed Estimates</a>
			  {% elif current %}
			  <a href="#" class="btn btn-outline-secondary" data-furl="{% url 'sae_obs_current'  %}" >Observed Estimates</a>
			  {% elif timeseries %}
			  <a href="#" class="btn btn-outline-secondary" data-furl="{% url 'sae_obs_timeseries'  %}" >Observed Estimates</a>
			  {% endif %}
                   	</div>
		      </div>
                    <hr/>
		    </div>
                    <div class="container">
		      <div class="row" >
                        <div>
			    {% if map or sae_landing %}
                              <p><b>Map</b></p>
			    {% else %}
                              <p><b>Chart Region</b></p>
			    {% endif %}
                            {{ geo_form.geo_area }}
                        </div>
		      </div>
                      <hr/>
		    </div>
                    <div class="container">
		      <div class="row" >
                        <div>
                    	    <p><b>Condition</b></p>
                            {{ outcome_form.condition }}
                        </div>
		      </div>
                      <hr/>
		    </div>
		    <div class="container" >
		      <div class="row">
                            <p><b>First Stratifier</b></p>
		      </div>
		      <div class="row" >
                    	<div id='demographic1'class="col-sx-6">
                          <div>
                            {{ filter_form.demographic1 }}
                          </div>
		        </div>
                        <div id='demographic1-gender' class="col-xs-6">
                            {{ filter_form.gender1 }}
		        </div>
                        <div id='demographic1-age_group' class="col-xs-6">
                            {{ filter_form.age_group1 }}
		        </div>
                        <div id='demographic1-race' class="col-xs-6" >
                            {{ filter_form.race1 }}
		        </div>
		      </div>
		      <hr/>
		    </div>
		    <div class="container" id="stratifier2">
		      <div class="row">
                            <p><b>Second Stratifier</b></p>
		      </div>
		      <div class="row" >
                    	<div id='demographic2'class="col-sx-6">
                          <div>
                            {{ filter_form.demographic2 }}
                          </div>
		        </div>
                        <div id='demographic2-gender' class="col-xs-6">
                            {{ filter_form.gender2 }}
		        </div>
                        <div id='demographic2-age_group' class="col-xs-6">
                            {{ filter_form.age_group2 }}
		        </div>
                        <div id='demographic2-race' class="col-xs-6" >
                            {{ filter_form.race2 }}
		        </div>
		      </div>
		      <hr/>
		    </div>
		    {% include 'analysis/sae-parameters.html' %}
                </div>
                <div class="modal-footer">
			<fieldset class="w-100" id='form-status'>
			{% if map or sae_landing %}
                        <input type="button" class="btn btn-primary btn-sm float-right" data-furl="{% url 'sae_map' %}"
                               value="Map">
			{% elif current %}
                        <input type="button" class="btn btn-primary btn-sm float-right "
                               data-furl="{% url 'sae_current' %}" value="Demographics">
			{% elif timeseries %}
                        <input type="button" class="btn btn-primary btn-sm float-right"
                               data-furl="{% url 'sae_timeseries' %}" value="Timeseries">
			{% endif %}
			<button type="button" class="btn btn-secondary btn-sm float-right mr-3" data-dismiss="modal">Cancel</button>
			</fieldset>
                </div>
            </form>
        </div>
    </div>
</div>
