{% extends 'analysis/graphable.html' %}
{% load static %}

{% block main %}
    {{ block.super }}
    <div class="row color-select">
	    <div style="margin-left: auto;">
		<div class="form-check form-check-inline" >
		  <input class="form-check-input" type="radio" name="color" id="color1" value='color1' checked>
		  <label class="form-check-label" for="color1">
		    Default color
		  </label>
		</div>
		<div class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="color" id="color2"  value='color2' >
		  <label class="form-check-label" for="color2">
		    Alternate color
		  </label>
		</div>
	    </div>
    </div>
    <div class="row graphs">
        {% if data.0.location == data.1.location %}
	    {% if stratify1 == 'overall' or stratify2 == 'overall' %}
            	<div class="col-md-12 sae chart1">
                	{% include 'analysis/current-rate-graphs.html'  with location=data.0.location position=1 strat_id=1 %}
            	</div>
	    {% else %}
            	<div class="col-md-12 sae chart1">
			{% include 'analysis/current-rate-graphs.html'  with location=data.0.location position=1 strat_id=3 %}
            	</div>
            	<div class="col-md-6">
                	{% include 'analysis/current-rate-graphs.html'  with location=data.0.location position=2 strat_id=1 %}
            	</div>
            	<div class="col-md-6">
                	{% include 'analysis/current-rate-graphs.html'  with location=data.0.location position=3 strat_id=2 %}
            	</div>
	    {% endif %}
        {% else %}
	    {% if stratify1 == 'overall' or stratify2 == 'overall' %}
                <div class="col-md-6 sae">
                    {% include 'analysis/current-rate-graphs.html'  with location=data.0.location position=1 strat_id=1 %}
                </div>
                <div class="col-md-6">
                    {% include 'analysis/current-rate-graphs.html'  with location=data.1.location position=2 strat_id=1 %}
                </div>
	    {% else %}
                <div class="col-md-6 sae">
                    {% include 'analysis/current-rate-graphs.html'  with location=data.0.location position=1 strat_id=3 %}
                </div>
                <div class="col-md-6">
                    {% include 'analysis/current-rate-graphs.html'  with location=data.1.location position=2 strat_id=3 %}
                </div>
                <div class="col-md-6">
                    {% include 'analysis/current-rate-graphs.html'  with location=data.0.location position=3 strat_id=1 %}
                </div>
                <div class="col-md-6">
                    {% include 'analysis/current-rate-graphs.html'  with location=data.1.location position=4 strat_id=1 %}
                </div>
                <div class="col-md-6">
                    {% include 'analysis/current-rate-graphs.html'  with location=data.0.location position=5 strat_id=2 %}
                </div>
                <div class="col-md-6">
                    {% include 'analysis/current-rate-graphs.html'  with location=data.1.location position=6 strat_id=2 %}
                </div>
	    {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type='text/javascript'>
	var graph_colors = colors;
	$('input[type=radio][name=color]').change(function() {
	    if (this.value == 'color1') {
		graph_colors = colors;
	    } else {
		graph_colors = sae_colors;
	    }
            {% if data.0.location == data.1.location %}
                buildGraphs("{% url 'sae_current_cache' data.0.cache -1 %}");
            {% else %}
                buildGraphs("{% url 'sae_current_cache' data.0.cache data.1.cache %}");
            {% endif %}
	});

        // Date parameters
        updateTimeChunk('{{ chunked|capfirst }}');
	$('#sae-timebound-breadcrumb').find('>span:first').hide();
	$('#sae-timebound-breadcrumb').find('>small:first').hide();        
	$('#sae-timebound-breadcrumb').find('>small:last').html('year:');        

        var chartInterval = null;
        function buildGraphs(url) {
            $("[data-loc]").each(function () {
		strat_id = $(this).attr('data-strat').split("-").slice(1).join("-");
		if (strat_id == 3){
                    makeBarChart2($(this).find('div.barchart:first'), strat_id);
		} else {
                    makeBarChart($(this).find('div.barchart:first'));
                    makePieChart($(this).find('div.piechart:first'), strat_id);
		}
            });
            activateLoadingOverlay();
            chartInterval = setInterval(function () {
                getChartData(url);
            }, 500);
        }
        function getChartData(chartCache) {
            $.ajax({
                url: chartCache,
                type: 'get',
                dataType: 'json',
                cache: false,
                success: function (response) {
                    if (response.complete) {
                        clearInterval(chartInterval);
			var chartColors = {};
			var strat_id = 1;
			var load_data = 0;
			var stratifier = 'none';
			var stratifier2 = 'none';
			var s1 = '{{stratify}}';
			var s2 = '{{stratify2}}';
			var swap_strat = (s1 == 'gender' && s2 == 'age_group') || (s1 == 'race' && s2 == 'age_group') || (s1 == 'race' && s2 == 'gender');
			if (swap_strat) {
			    s1 = '{{stratify2}}';
			    s2 = '{{stratify}}';
			}
			var y = [];
			var loc0 = '{{data.0.location}}';
			var loc1 = '{{data.1.location}}';
                        $("[data-loc]").each(function () {
                            strat_id = $(this).attr('data-strat').split("-").slice(1).join("-");
			    if (strat_id == 2){
		                load_data = response.data2;
				stratifier = s2;
			        chartColors = getChartColors(load_data, stratifier);
			    } else if (strat_id == 3){
		                load_data = response.data3;
				stratifier = '{{stratify}}';
				stratifier2 = '{{stratify2}}';
			        chartColors = getChartColors(load_data, stratifier2);
			    } else {
		                load_data = response.data;
				stratifier = s1;
			        chartColors = getChartColors(load_data, stratifier);
			    }
                            var max_prev = loadLocationData($(this), load_data, chartColors, stratifier, stratifier2, strat_id);
			    if ( strat_id !=3) {
                            	y.push(equalizeAxes($(this), stratifier));
			    } else if (strat_id == 3 && loc0 != loc1){
				y.push(max_prev);
			    } 
                        });
			if (y.length > 1){
			    let ymax = Math.max(...y);
			    setMaxY(ymax);
			}
                        deactivateLoadingOverlay();
                    }
                },
                error: function (err) {
                    clearInterval(chartInterval);
                    $('#error-alert').show();
                    deactivateLoadingOverlay();
                    console.log(err);
                }
            });
        }

        function getChartColors(data, stratifier){
            var strat = new Set();
            for (var key in data) {
                for (let i=0; i < data[key].length; i++){
                    strat.add(data[key][i][stratifier]);
                }
            }
            var colorNames = Array.from(strat);
            var chartColors = {};
            for (let i = 0; i < colorNames.length; i++ ){
                chartColors[colorNames[i]] = graph_colors[i];
            }
            return chartColors;

        }
	
        function equalizeAxes(container, stratifier) {
            var values = [];
            var bar = container.find('div.barchart:first');
            values.push(Math.max(...bar.data('c3-chart').data.values(stratifier)));
            var high = Math.max(...values);
            var yMax = Math.ceil(high);
            if (high < .1){
                yMax = Math.ceil(high*100)/100;
            }else if (high < 1){
                yMax = Math.ceil(high*10)/10;
            }
            bar.data('c3-chart').axis.max(yMax);
	    return yMax;
        }

        function setMaxY(ymax) {
            $("[data-loc]").each(function () {
	        //if ($(this).data('strat') != 'strat-3'){
            	  var bar = $(this).find('div.barchart:first');
                  bar.data('c3-chart').axis.max(ymax);
	    	//}
	    });
	}

        function loadLocationData(container, data, chartColors, stratifier, stratifier2, strat_id) {
            var location = container.attr('data-loc').split("-").slice(1).join("-");
            data = data[location];
	    var max_prev = 0;
            if (!data) {
                markInsufficient(container);
            } else {
                if (stratifier == 'none') {
                    data = [data];
                }
                var myColors = [];
		var color_strat = strat_id == 3 ? stratifier2 : stratifier;
                for (let i = 0; i < data.length; i++){
                    myColors.push(chartColors[data[i][color_strat]]);
                }
                var barContainer = container.find('div.barchart:first');
                barContainer.data('data-graphable', data);
		if (strat_id == 3){
                    max_prev = addBarChartData2(barContainer.data('c3-chart'), data, stratifier, stratifier2);
		} else {
                    barContainer.data('data-colors', myColors);
                    addBarChartData(barContainer.data('c3-chart'), data, stratifier);
                    var pieContainer = container.find('div.piechart:first');
                    pieContainer.data('data-graphable', data);
                    pieContainer.data('data-colors', myColors);
                    addPieChartData(pieContainer, data, stratifier);
		}
		return max_prev;
            }
        }

        function markInsufficient(target) {
            target.find('.card').remove();
            target.find('.alert').show();
        }

        function getColor(target, idx){
            if (idx != null) {
                return target.data('data-colors')[idx];
            }else{
                return target.data('data-colors');
            }
        }

        function makeBarChart(target, chartColors) {
            var graphable = target.data('data-graphable');
            var chart = c3.generate({
                bindto: '#' + target.attr('id'),
                padding: {
                    bottom: 5,
                },
                data: {
                    type: 'bar',
                    columns: [],
                    color: function (color, d) {
                        try {
                            return getColor(target, [d.index]);
                        }catch(err){
                            return '#0275D8';
                        }
                    }
                },
                axis: {
                    x: {
                        type: 'category',
	    		label: {
	    		text: '',
	    		position: 'outer-center'
	    		},
			height: 40,
			tick: {
			    multiline:false,
			},
                    },
                    y: {
                        padding: {top: 0, bottom: 0},
	    		label: {
	    		text: 'Prevalence (%)',
	    		position: 'outer-middle'
	    		},
                    }
                },
                tooltip: {
                    format: {
                        name: function (name, ratio, id, index) {
                            return "";
                        },
                        value: function (value, ratio, id, index) {
                            var datum = target.data('data-graphable')[index];
                            if (value > 1) {
                                value = value.toFixed(1);
                            } else {
                                value = value.toFixed(2);
                            }
			    var ci_low = datum['ci_low'];
			    var ci_high = datum['ci_high'];
                            return value + '%' + ' (95% CI ' + ci_low + '-' + ci_high + '%)';
                        }
                    }
                },
                color: {pattern: ['#0275D8']},
                legend: {
                    show: false
                },
                size: {height: 250}
            });
            target.data('c3-chart', chart);
        }

        function makeBarChart2(target, strat_id) {
	    var strat1 = '{{ stratify }}'; 
	    var strat2 = '{{ stratify2 }}'; 
            var chart = c3.generate({
                bindto: '#' + target.attr('id'),
                padding: {
                    bottom: 5,
                },
                data: {
                    type: 'bar',
                    columns: []
                },
                axis: {
                    x: {
                        type: 'category',
	    		label: {
	    		text: '',
	    		position: 'outer-center'
	    		},
			height: 40,
			tick: {
			    multiline:false,
			}
                    },
                    y: {
                        padding: {top: 0, bottom: 0},
	    	        label: {
	    	    	text: 'Prevalence (%)',
	    	    	position: 'outer-middle'
	    	    	}
                    },
                },
                tooltip: {
                    format: {
                        value: function (value, ratio, id, index) {
			    var data = target.data('data-graphable');
			    cats = [];
                            // get x-axis categories
			    data.forEach(function (item, idx) {
                                if (cats.indexOf(decodeHtml(item[strat1])) == -1) {
                                    cats.push(decodeHtml(item[strat1]));
                                }
			    });
			    var category = cats[index];
			    var ci_low = '';
			    var ci_high = '';
			    data.forEach(function (item, idx) {
				let is_item = (decodeHtml(item[strat1]) == category) && (decodeHtml(item[strat2]) == id);
				if (is_item){
				    prevalence = item["prevalence"];
				    ci_low = item["ci_low"];
				    ci_high = item["ci_high"];
				}

			    });
                            if (value > 1) {
                                value = value.toFixed(1);
                            } else {
                                value = value.toFixed(2);
                            }
                            return value + '%' + ' (95% CI ' + ci_low + '-' + ci_high + '%)';
                        }
                    }
                },

                legend: {
                    show: true
                },
                size: {height: 250}
            });
            target.data('c3-chart', chart);
        }

        function makePieChart(target, strat_id) {
	    var strat = (strat_id == 2) ? '{{ stratify2 }}' : '{{ stratify }}'; 
            var chart = c3.generate({
                bindto: '#' + target.attr('id'),
                padding: {
                    bottom: 15
                },
                data: {
                    columns: [],
                    type: 'pie',
                    order: null,
                },
                pie: {
                  label: {
                    show: false
                  }
                },
                size: {height: 300},
                legend: {
                    show: true
                },
                tooltip: {
                    format: {
                        value: function (value, ratio, id, index) {
                            var tot = 0;
                            $.each(target.data('data-graphable'), function (idx, elem) {
                                if (elem[strat] == 'All' || elem[strat] == 'Unstratified') {
                                    tot = elem['numerator'];
                                }
                            });

                            var datum = target.data('data-graphable')[index];
                            var val = ratio * 100;
                            if (val > 1) {
                                val = val.toFixed(1);
                            } else {
                                val = val.toFixed(2);
                            }
                            return val + '%';
                        }
                    }
                }
            });
            target.data('c3-chart', chart);
        }

        function makeScatterPlot(target) {
            var chart = c3.generate({
                bindto: '#' + target.attr('id'),
                padding: {
                    bottom: 5,
                },
		point: {
		    r: 8
		},
                data: {
                    type: 'scatter',
                    columns: []
                },
                axis: {
                    x: {
                        type: 'category'
                    },
                    y: {
                        padding: {top: 0, bottom: 0}
                    }
                },
                tooltip: {
		    grouped: true,
                    format: {
                        value: function (value, ratio, id, index) {
                            var datum = target.data('data-graphable')[index];
                            if (datum["numerator"] == -1) {
                                return "Insufficient Data";
                            }
                            if (value > 1) {
                                value = value.toFixed(1);
                            } else {
                                value = value.toFixed(2);
                            }
                            return value + '%';
                        }
                    }
                },

                legend: {
                    show: true
                },
                size: {height: 250}
            });
            target.data('c3-chart', chart);
        }

        function addBarChartData(chart, graphable, stratifier) {
            var cats = [];
            var cols = [stratifier];
            var regions = [];
            graphable.forEach(function (item, idx) {
                cols.push(item['prevalence']);
	    	cat_item = item[stratifier].replace(/_/g,' ');
                cats.push(decodeHtml(cat_item));
            });
	    x_label = stratifier.replace(/_/g,' ');
	    x_label = x_label.charAt(0).toUpperCase() + x_label.slice(1);
	    chart.axis.labels({x: x_label});
            chart.load({
                columns: [cols],
                categories: cats
            });
            chart.regions.add(regions);
        }

        function addBarChartData2(chart, graphable, stratifier, stratifier2) {
            var cats = [];
            var col_names = [];
            var columns = [];
	    var col_colors = {};
            graphable.forEach(function (item, idx) {
		// save stratifier as x-axis categories
		if (cats.indexOf(decodeHtml(item[stratifier])) == -1) {
	    	    cat_item = item[stratifier].replace(/_/g,' ');
                    cats.push(decodeHtml(cat_item));
		}
		// save stratifier2 as column names, and save column colors
		if (item[stratifier2]) {
		if (col_names.indexOf(item[stratifier2]) == -1) {
                    col_names.push(item[stratifier2]);
		    col_colors[item[stratifier2]] = graph_colors[idx]; 
		}
		}
            });
	    // initialize columns with column names
	    col_names.forEach(function(cname){
		 columns.push([cname]);
	    });
	    var max_prev = 0;
            graphable.forEach(function (item, idx) {
              //let num = item['numerator'] < 0 ? 0 : item['numerator'];
	      let ratio = item['prevalence']; //(num / item['denominator']) * 100;
		columns.forEach(function(col){
		    let index = col.indexOf(item[stratifier2]);
		    if (index != -1){
	    		if (ratio > max_prev){
			    max_prev = ratio;
			}
		        col.push(ratio);
		    }
		});
	    });
	    x_label = stratifier.replace(/_/g,' ');
	    x_label = x_label.charAt(0).toUpperCase() + x_label.slice(1);
	    chart.axis.labels({x: x_label});
            chart.load({
                columns: columns,
                categories: cats,
		colors: col_colors
            });
	    return max_prev;
        }

        function  selectChart(ctype, position) {
	    var x = (ctype.value || ctype.options[ctype.selectedIndex].value);
            $("[data-loc]").each(function () {
		let strat_id = $(this).attr('data-strat').split("-").slice(1).join("-");
	        if (strat_id == 3) {
		    let barContainer = $('#bar-'+ position.toString() );
		    chart = barContainer.data('c3-chart');
		    chart.transform(x);
		}
	    });
	}


        function addPieChartData(target, graphable, stratifier) {
            var chart = target.data('c3-chart');
            var cols = [];
            graphable.forEach(function (item) {
                if (item[stratifier] == "All") {
                    return;
                }
                var piece = [];
	        let num = item['npats'];
	    	cat_item = item[stratifier].replace(/_/g,' ');
		if (cat_item !== 'overall'){
                    piece.push(decodeHtml(cat_item));
                    piece.push(num);
		    cols.push(piece);
		}
            });
            var myColors = {};
            for (let i = 0; i < cols.length; i++){
                myColors[cols[i][0]] = getColor(target, i);
            }
            chart.data.colors(myColors);
            chart.load({
                columns: cols
            });

        }

        function get_label_text(strat) {
            //return $('button[data-stratify="' + strat + '"]').first().text();
	    return strat.toLowerCase().split('_').map((s) => s.charAt(0).toUpperCase() + s.substring(1)).join(' ');
	}

	s1t = '{{stratify}}';
	s2t = '{{stratify2}}';
	var swap_strat = (s1t == 'gender' && s2t == 'age_group') || (s1t == 'race' && s2t == 'age_group') || (s1t == 'race' && s2t == 'gender');
	if (swap_strat) {
	    s1t = '{{stratify2}}';
	    s2t = '{{stratify}}';
	}

	var strat_text = s1t; 
	strat_text = strat_text.toLowerCase().split('_').map((s) => s.charAt(0).toUpperCase() + s.substring(1)).join(' ');
	$(".strat-label-1").html(strat_text);
        $(".strat-label-2").html(get_label_text(s2t));
        $(".strat-label-3").html(get_label_text('{{ stratify }}') + ' and ' + get_label_text('{{ stratify2 }}'));

        {% if data.0.location == data.1.location %}
            buildGraphs("{% url 'sae_current_cache' data.0.cache -1 %}");
        {% else %}
            buildGraphs("{% url 'sae_current_cache' data.0.cache data.1.cache %}");
        {% endif %}
    </script>


{% endblock %}
