{% if outcome.value == '' %}
    <div class="col-md-9">
        Updating with new data
    </div>
{% elif outcome.value == -1 %}
    <div class="col-md-9">
       Insufficient Data
    </div>
{% else %}
    <div id="{{ outcome.name|slugify }}-container"
         class="col-md-9"
            {% if outcome.chart_type == 'D' %}
         data-donut="{{ outcome.value }}"
            {% else %}
         data-spark="{{ outcome.trendline }}"
            {% endif %}>
    </div>
{% endif %}
{% if SAE_ENABLED and sae%}
  {% include 'analysis/sae-summary-carousel-item-links.html' %}
{% else %}
  {% include 'analysis/summary-carousel-item-links.html' %}
{% endif %}
