{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>{{ site_name }}</title>
</head>

<body>
	<p>Data upload error on {{site_name}} at {{site_url}}.</p>
	<p>{{error_message}}</p>
</body>
</html>

