{% extends 'trimscape/base.html' %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="post" action="">{% csrf_token %}
                    <div class="card card-outline-primary">
                        <div class="card-header card-primary card-inverse">
                            <h4 class="card-title">Register</h4>
                        </div>
                        <div class="card-block">
                            <div class="card-text">
                              {% csrf_token %}
                              {{ supplement_form.as_p }}
                              {% csrf_token %}
                              {{ form.as_p }}
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <p class="text-danger">RiskScape access is only available to select staff at {{ ORGANIZATION }} and participating clinical partners</p>
                            <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ block.super }}
{% endblock %}
