<div class="modal fade" id="coc-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mr-auto">Select Stratifiers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="coc-toolbar" class="modal-body container">
                <form id="table-form">
                    {% for field in form %}
                        <div class="row">
                            <div class="col-md-12 {% if not field.name == 'site' %}invisible{% endif %}">
                                <label class="small"><strong>{{ field.label }}</strong></label><br/>
                                {% if field.html_name == 'year' %}
                                    <div class="row col-md-3 no-gutters" id="{{ field.html_name }}-group">
                                        {{ field }}
                                    </div>
                                {% else %}
                                    <div class="btn-group btn-group-sm" id="{{ field.html_name }}-group"
                                         data-toggle="buttons">
                                        {% for f in field %}
                                            <label class="btn btn-outline-primary" for="{{ f.id_for_label }}"
                                                   onclick="event.stopPropagation();flipCheckbox($(this));">
                                                {{ f.tag }}
                                                {{ f.choice_label }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" onclick="updateTable();$('#coc-modal').modal('hide');">Update
                </button>
                <button class="btn btn-sm btn-secondary mr-auto" onclick="resetForm();">Reset</button>
                <button type="button" class="btn btn-secondary btn-sm pull-xs-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
